
.swiper-button-next:after,
.swiper-button-prev:after{
    color: #000;
}
.img-category img{
    width: 30% !important;
}

@media screen and (max-width:500px){
    .img-category img{
        width: 90% !important ;
    }
}