@media screen and (max-width : 680px){
    .img-for img{
        width: 10%;
    }
    .form{
        justify-content: center;
    }
}
@media screen and (max-width :550px){
    .img-for img{
        width: 13%;
    }
    
}
.img-back{
    width: 5% !important;
}
